services:
  #####################################################################
  ###################                       基础组件                       ###################
  #####################################################################

  lersosa-mysql:
    image: mysql:9.3.0
    container_name: lersosa-mysql-dev
    build:
      context: ./mysql
    networks:
      lersosa-network-dev:
        aliases:
          - lersosa-mysql
    ports:
      - "3306:3306"
    environment:
      TZ: Asia/Shanghai
      MYSQL_ROOT_PASSWORD: Zcx@223852//
      MYSQL_DATABASE: lersosa-cloud
    volumes:
      - ./mysql/conf:/etc/mysql/conf.d
      - ./mysql/logs:/logs
      - ./mysql/data:/var/lib/mysql
    healthcheck:
      test: [ "CMD-SHELL", "mysqladmin ping -h localhost -u root -pZcx@223852//" ]
      interval: 30s
      timeout: 10s
      retries: 5
    privileged: true

  lersosa-sharding:
    image: apache/shardingsphere-proxy:5.5.2
    container_name: lersosa-sharding-dev
    build: ./sharding
    networks:
      lersosa-network-dev:
        aliases:
          - lersosa-sharding
    ports:
      - "3307:3307"
    environment:
      TZ: Asia/Shanghai
    volumes:
      - ./sharding/conf/:/opt/shardingsphere-proxy/conf/
      - ./sharding/ext-lib:/opt/shardingsphere-proxy/ext-lib/
    depends_on:
      lersosa-mysql:
        condition: service_healthy

  lersosa-redis:
    image: redis:8.0.0
    container_name: lersosa-redis-dev
    build:
      context: ./redis
    networks:
      lersosa-network-dev:
        aliases:
          - lersosa-redis
    ports:
      - "6379:6379"
    environment:
      TZ: Asia/Shanghai
    volumes:
      - ./redis/conf:/redis/config
      - ./redis/data/:/redis/data/
    command: "redis-server /redis/config/redis.conf"
    healthcheck:
      test: [ "CMD-SHELL", "redis-cli ping" ]
      interval: 30s
      timeout: 10s
      retries: 5
    privileged: true

  lersosa-minio:
    image: minio/minio:RELEASE.2025-04-22T22-12-26Z
    container_name: lersosa-minio-dev
    build:
      context: ./minio
    networks:
      lersosa-network-dev:
        aliases:
          - lersosa-minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      TZ: Asia/Shanghai
      MINIO_ROOT_USER: lersosa
      MINIO_ROOT_PASSWORD: Zcx@223852//
      MINIO_COMPRESS: "off"
      MINIO_COMPRESS_EXTENSIONS: ""
      MINIO_COMPRESS_MIME_TYPES: ""
    volumes:
      - ./minio/data:/data
      - ./minio/config:/root/.minio/
    command: server --address ':9000' --console-address ':9001' /data
    privileged: true

  lersosa-rabbitmq:
    image: rabbitmq:4.1.0-management
    container_name: lersosa-rabbitmq-dev
    build:
      context: ./rabbitmq
    networks:
      lersosa-network-dev:
        aliases:
          - lersosa-rabbitmq
    ports:
      - "15672:15672"
      - "5672:5672"
    environment:
      RABBITMQ_DEFAULT_USER: lersosa
      RABBITMQ_DEFAULT_PASS: Zcx@223852//
    volumes:
      - ./rabbitmq/log:/var/log/rabbitmq
      - ./rabbitmq/data:/var/lib/rabbitmq

  lersosa-logstash:
    image: logstash:9.0.1
    container_name: lersosa-logstash-dev
    build:
      context: ./elk
    networks:
      lersosa-network-dev:
    ports:
      - "4560:4560"


#####################################################################
###################                       环境网络                       ###################
#####################################################################

networks:
  lersosa-network-dev:
    name: lersosa-network-dev
    driver: bridge
    ipam:
      config:
        - subnet: 174.17.0.0/16
          gateway: 174.17.0.1
