:deep(.el-image-viewer__img) {
    max-width: 70% !important;
    max-height: 70% !important;
    border: 5px solid transparent; /* 初始透明边框 */
}

:deep(.el-image-viewer__progress) {
    bottom: 75px !important;
    color: #ffffff !important;
    font-size: 20px !important;
    font-weight: bold !important;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4px 8px;
    border-radius: 4px;
}

/* 背景色标签 */
/* 未标记灰 */
.bg-unlabeled {
    background-color: #d9d9d9;
}

/* 正样本绿 */
.bg-positive {
    background-color: #08f308;
}

/* 负样本红 */
.bg-negative {
    background-color: red;
}

/* 已知脉冲星蓝 */
.bg-known {
    background-color: #1890ff;
}

/* 新脉冲星橙 */
.bg-new {
    background-color: #ffa500;
}

/* 主体颜色标签 */
/* 未标记灰 */
.unlabeled-color {
    color: #d9d9d9;
}

/* 正样本绿 */
.positive-color {
    color: #08f308;
}

/* 负样本红 */
.negative-color {
    color: red;
}

/* 已知脉冲星蓝 */
.known-color {
    color: #1890ff;
}

/* 新脉冲星橙 */
.new-color {
   color: #ffa500;
}

/* 边框颜色标签 */
/* 负样本红 */
.border-red {
    border-color: red !important;
}

/* 正样本绿 */
.border-green {
    border-color: #08f308 !important;
}

/* 已知脉冲星蓝 */
.border-blue {
    border-color: #1890ff !important;
}

/* 新脉冲星橙 */
.border-orange {
    border-color: #ffa500 !important;
}

.color-dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

.masonry-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}

.masonry-item {
    padding: 8px;
    width: calc(25% - 16px); /* 4列布局 */
    box-sizing: border-box;
}

.image-wrapper {
    background-color: #f0f0f0;
    padding-bottom: 71%; /* 保持图片容器的宽高比 */
    position: relative;
    overflow: hidden;
    border: 5px solid transparent; /* 初始透明边框 */
}

.image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.submit,
.next-page {
    margin-left: 10px;
}
