name: Build Spring Cloud Project

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.0

      - name: Set up JDK 23
        uses: actions/setup-java@v4.4.0
        with:
          java-version: '23'
          distribution: 'temurin'

      - name: Cache Maven packages
        id: cache-maven-packages
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-

      - name: Build with Maven
        run: mvn -B clean package -DskipTests --file ./lersosa-java/pom.xml

      - name: List files in all target directories
        run: find . -type d -name 'target' -exec ls -R {} \;

      - name: Upload artifact
        uses: actions/upload-artifact@v4.4.0
        with:
          name: spring-cloud-jars
          path: '**/target/*.jar'
